name: Autochangelog

on:
  pull_request_target:
    types: closed
    branches: [ "master" ]
  workflow_dispatch: # manual trigger

env:
  BASENAME: "polaris"

jobs:
  autochangelog:
    name: Autochangelog
    runs-on: ubuntu-24.04
    if: github.event.pull_request.merged == true
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: master

      - name: Update repository to master
        run: git pull "origin" master

      - name: Ensure +x on CI directory
        run: |
          chmod -R +x ./tools/ci

      - name: Generate Changelog
        run: |
          pip install pyyaml
          python tools/GenerateChangelog/ss13_autochangelog.py \
            html/changelogs \
            ${{ github.event.pull_request.number }} \
            "${{ github.event.pull_request.user.login }}" \
            "${{ github.event.pull_request.body }}"
          python tools/GenerateChangelog/ss13_genchangelog.py \
            html/changelog.html \
            html/changelogs

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
        with:
          commit_message: Automatic changelog generation for ${{ github.events.pull_request.number }}
          branch: ${{ github.events.pull_request.base }}
          commit_user_name: Autochangelog Bot
